<h1> <%= @language.name %> PLAYLISTS </h1>

<% @language.playlists.each do |t| %>
  <%= t.name %>
  <%= t.description %>
  <%= t.usercount %>
  <%= button_to "Check me out!", playlist_path(id: t.id), :method => :get %> <br/>
  <%= button_to "Adopt me!", post(id: t.id), :method => :get %> <br/>
<% end %>
